﻿@model IEnumerable<FirstProject.Models.College>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">List of Colleges</h1>

<table class="table table-striped table-bordered table-responsive mx-auto">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th >Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CollegeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CollegeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CollegeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
