﻿@model Student

@{
    ViewBag.Title = "Add";
    
 
}

@using (Html.BeginForm("Add", "Student", FormMethod.Post))
{
        
    @Html.AntiForgeryToken()

    <div class="toolbar row">
        <div class="col-sm-6 hidden-xs">
            <div class="page-header">
                <h1 class="text-center">
                    Add Student
                </h1>
            </div>
        </div>
      
    </div>

    <button type="button" id="add" class="btn btn-success">ADD</button>

    <div class="panel panel-default">
       
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="panel-body">
          
            <div class="table-responsive">

                <table class="table table-striped table-hover dataTable table-bordered" id="showhide">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>
                                Name
                            </th>
                            <th>
                                Age
                            </th>
                            <th>
                                Class
                            </th>
                            <th>
                                College Name
                            </th>

                        </tr>
                    </thead>

                    <tbody id="input_fields_wrap"></tbody>


                </table>
            </div>
            <div class="row form-group">
                <div class="col-xs-12 text-right">
                    <button class="btn btn-success" type="submit" id="SubmitButton"> Save</button>
                </div>
            </div>
        </div>
       

        @section Scripts{

       
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript">

            $(document).ready(function () {
                debugger;

                var i = 0;
                var wrapper = $("#input_fields_wrap");
                var Students = @Html.Raw(Json.Serialize(ViewBag.collegeList));

                $('#add').click(function () {
                    i++;
                    var html = '<td>' + i + '</td>' +
                        '<td><input class="form-control" value="' + i + '" name="Students.index" type="hidden" />' +
                        '<input type="text" class="form-control" name="Students[' + i + '].Name" /></td>' +
                        '<td><input type="text" class="form-control" name="Students[' + i + '].Age" /></td>' +
                        '<td><input type="text" class="form-control" name="Students[' + i + '].Class" /></td>' +
                        '<td><select class="form-control" name="Students[' + i + '].CollegeId">' +
                        '<option value="">--Select College--</option>';

                    for (var j = 0; j < Students.length; j++) {
                        html += '<option value="' + Students[j].value + '">' + Students[j].text + '</option>';
                    }

                    html += '</select></td>';

                    var tr = $('<tr></tr>').append(html);
                    $(wrapper).append(tr);

                });
              

            });
                
        </script>
        }


    </div>
}