﻿@model List<Student>

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Students</h2>

@using (Html.BeginForm("Delete", "Student", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>Class</th>
                <th>College Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td><input type="checkbox" name="studentIds" value="@student.Id" /></td>
                    <td>@student.Id</td>
                    <td>@student.Name</td>
                    <td>@student.Age</td>
                    <td>@student.Class</td>
                    <td>@student.College.Name</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="form-group">
        <input type="submit" value="Delete Selected" class="btn btn-danger" />
    </div>
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#selectAll').click(function () {
                $('input[type="checkbox"]').prop('checked', this.checked);
            });
        });
    </script>
}
