﻿@model List<Student>

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Students</h2>

@using (Html.BeginForm("Edit", "Student", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover dataTable table-bordered">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Age</th>
                            <th>Class</th>
                            <th>College Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Count; i++)
                        {
                            <tr>
                                <td>@Model[i].Id</td>
                                <td>
                                    @Html.HiddenFor(m => m[i].Id)
                                    @Html.TextBoxFor(m => m[i].Name, new { @class = "form-control" })
                                </td>
                                <td>@Html.TextBoxFor(m => m[i].Age, new { @class = "form-control" })</td>
                                <td>@Html.TextBoxFor(m => m[i].Class, new { @class = "form-control" })</td>
                                <td>@Html.DropDownListFor(m => m[i].CollegeId, (IEnumerable<SelectListItem>)ViewBag.collegeList, "--Select College--", new { @class = "form-control" })</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="@Url.Action("Index")" class="btn btn-danger">Cancel</a>
        </div>
    </div>
}
