﻿

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />

<h1 class="text-center text-primary">List of students</h1>

<br />

<div class="table-responsive">
    <table id="studentTable" class="table table-striped table-hover dataTable table-bordered">
        <thead class="text-center">
            <tr>
                <th style="width:12%">Student ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Class</th>
                <th>College Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
        </tbody>
    </table>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready(function () {
            $('#studentTable').DataTable({
                "serverSide": false, // This enables client-side processing
                "pagingType": "full_numbers",
                "columns": [
                    { "data": "id", "width": "12%" },
                    { "data": "name" },
                    { "data": "age" },
                    { "data": "class" },
                    { "data": "college.name" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return '<a href="/Student/Edit/' + row.id + '"><i>Edit</i></a>' +
                                '<a href="/Student/Delete/' + row.id + '"><i>Delete</i></a>';
                        }
                    }
                ],
                "ajax": {
                    "url": "/Student/GetStudents", // The URL of the action method that returns JSON data
                    "type": "GET",
                    "dataType": "json"
                }
            });
        });
    </script>
}
